@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #01000c;
  color: #f3f3f3;
}

.cardPattern {
  background-color: #050532;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #a5a8cf 25%, transparent 25%),
    linear-gradient(225deg, #a5a8cf 25%, transparent 25%),
    linear-gradient(45deg, #a5a8cf 25%, transparent 25%),
    linear-gradient(315deg, #a5a8cf 25%, #050532 25%);
  background-position: 16px 0, 16px 0, 0 0, 0 0;
  background-size: 16px 16px;
  background-repeat: repeat;
}
